@charset "UTF-8";
/*
em HTML é id  =  em CSS é # (só pode um id por página)
em HTML é class  =  em CSS é . (pode várias classes por página)
*/

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif; 
  

}

h1 {
    color: #080808;

} 
h1#principal {
    color: #1a3528ee;
    text-align: center;
    background-color: aquamarine;
  
}


h2 {
    color: #f50814ee;

}

p {
    text-indent:30px;
    text-align: justify;
}
.basico {
    color: #0000ff;
}
.intermediario {
    color: #f1e74d;
}
.avançado {
    color: #ff0000;
}