h1{
    color: blue;
    margin: 10px;
   
}
p{
    font-size: 20px;
    color: rgb(0, 0, 0);
   
   
}
img{
    width: 150px;
    border-radius: 400px;
} 
body{
    background-color: #d5e28a; margin: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h2{
    color: green;
}