@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
  
}
p {
    color: rgb(0, 0, 0);
    text-align: justify;
}
body {
    background-image: linear-gradient(to right, #EB8137 , #F2BF05); ;
}
main {
    margin: 0 auto;
    width: 600px;
   box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background-color: white;
    border-radius: 10px;

}

h1 {
    text-align: center;
    color:#E8CE05;
    text-shadow: 2px 2px 4px #000000;
}
h2 {
   color:#F28F05 ;
}


